.button-red {
  background-color: rgb(255, 46, 46);
  margin-left: 20px;
}

.cart {
  display: flex;
  min-height: 70.5vh;
}

.cart > div {
  flex: 0 1 50%;
  margin: 15px;
}

.total-price h2 {
  font-size: 28px;
  text-align: right;
}

.total-price > div {
  text-align: right;
  padding-right: 30px;
}

.total-price button {
  font-size: 24px;
}

.product-name:hover {
  cursor: pointer;
  font-weight: 600;
  text-decoration: underline;
}
