<h2>Cart:</h2>

<div class="cart">
  <div class="cart-items" *ngIf="items.length !== 0; else elseBlock">
    <div class="cart-item" *ngFor="let item of items">
      <span [routerLink]="['/products', item.id]" class="product-name">{{
        item.name
      }}</span>
      <span>
        <span
          ><b>{{ item.price | currency: "USD" }}</b></span
        >
        <button class="button-red" (click)="deleteProduct(item._id)">
          &times;
        </button>
      </span>
    </div>
  </div>
  <div class="total-price" *ngIf="items.length !== 0">
    <div>
      <h2><b>Total Price: </b>{{ totalPrice | currency: "USD" }}</h2>
      <form>
        <div>
          <label for="name"> Name </label>
          <input
            required
            #name="ngModel"
            type="text"
            name="name"
            [(ngModel)]="clientName"
          />
        </div>

        <div>
          <label for="address"> Address </label>
          <input
            type="email"
            required
            name="address"
            #email="ngModel"
            [(ngModel)]="clientAddress"
            email
          />
        </div>

        <button
          class="button"
          [disabled]="email.invalid || name.invalid"
          (click)="onSubmit()"
        >
          Purchase
        </button>
      </form>
    </div>
  </div>
</div>
<ng-template #elseBlock> No products in the Cart yet...</ng-template>
