<div class="orders" *ngIf="!isLoading">
  <h2>Orders:</h2>
  <ol>
    <li [routerLink]="order.id" *ngFor="let order of orders">
      <span>
        Name: <b>{{ order.name }}</b></span
      >
      <span
        >Adress: <b>{{ order.address }}</b></span
      >
    </li>
  </ol>
</div>

<div class="loader" *ngIf="isLoading">
  <div class="lds-spinner">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
