<div class="products" *ngIf="!isLoading">
  <div class="product" *ngFor="let product of products">
    <a
      [title]="product.name + ' details'"
      [routerLink]="['/products', product.id]"
    >
      <div class="img">
        <img [src]="product.image" alt="image" />
      </div>
    </a>
    <div class="name">{{ product.name }}</div>
    <div class="brand">{{ product.brand }}</div>
    <div class="price">{{ product.price | currency: "USD" }}</div>
  </div>
</div>

<div class="loader" *ngIf="isLoading">
  <div class="lds-spinner">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
