.container {
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 0 auto;
}

.container > div {
  flex: 0 1 50%;
  margin: 10px;
}

h2 {
  font-size: 28px;
  margin: 0;
}

li {
  margin-bottom: 10px;
  font-size: 20px;
}

.products-list li {
  display: flex;
  justify-content: space-between;
}

.total-price {
  margin-top: 20px;
  font-size: 24px;
}
